#history .grid {
    padding: 15vmin;
    overflow-y: auto;
}

#grid {
    display: grid;
    width: 100%;
}

.score {
    position: relative;
}

.score::after {
    content: attr(data-diff);
    position: absolute;
    color: currentColor;
    top: 9vmin;
    font-size: 3vmin;
}
