#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main button { 
    justify-content: space-between;
    margin: 2vmin;
}

#main button * { 
    font-size: 6vmin;
    margin: 2vmin;
    color: var(--off-white);
}

#main button .text {
    flex-grow: 1;
}

:root:not([data-theme='dark']) #main button:disabled *{
    color: white;
}