#main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#main button { 
    justify-content: space-between;
    margin: 2vmin;
}

#main button * { 
    font-size: 6vmin;
    margin: 2vmin;
}

#main button .text {
    flex-grow: 1;
}