#session-select {
    width: 100%;
    height: 100%;
    padding: 10vmin;
    overflow-y: auto;
}

.sessions {
    display: flex;
    flex-wrap: wrap;
}

.session {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    border-radius: 2vmin;
    margin: 2vmin;
    background-color: var(--track-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.session .name {
    padding: 1vmin;
    font-family: sans-serif;
    text-align: left;
    font-size: 4vmin;
    color: var(--font-color);
}

.session .delete {
    position: absolute;
    top: -1vmin;
    right: -1vmin;
    width: 4vmin;
    height: 4vmin;
    border-radius: 50%;
    background-color: indianred;
    color: white;
    font-size: 3.5vmin;
    cursor: pointer;
}

.session .plot {
    flex-grow: 1;
    padding: 1vmin;
}
.session .plot .positive,
.session .plot .zero,
.session .plot .negative {
    display: flex;
    flex-direction: row;
    gap: 0.5vmin;
}
.session .plot .positive {
    align-items: end;
}
.session .plot .negative {
    align-items: start;
}

.session .plot .bar {
    flex-grow: 1;
    border-radius: 1vmin;
}

.session .scores {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    font-size: 6vmin;
}
