.color-picker {
    background: conic-gradient(
        hsl(0deg 60% 60%) 0deg,
        hsl(5deg 60% 60%) 5deg,
        hsl(10deg 60% 60%) 10deg,
        hsl(15deg 60% 60%) 15deg,
        hsl(20deg 60% 60%) 20deg,
        hsl(25deg 60% 60%) 25deg,
        hsl(30deg 60% 60%) 30deg,
        hsl(35deg 60% 60%) 35deg,
        hsl(40deg 60% 60%) 40deg,
        hsl(45deg 60% 60%) 45deg,
        hsl(50deg 60% 60%) 50deg,
        hsl(55deg 60% 60%) 55deg,
        hsl(60deg 60% 60%) 60deg,
        hsl(65deg 60% 60%) 65deg,
        hsl(70deg 60% 60%) 70deg,
        hsl(75deg 60% 60%) 75deg,
        hsl(80deg 60% 60%) 80deg,
        hsl(85deg 60% 60%) 85deg,
        hsl(90deg 60% 60%) 90deg,
        hsl(95deg 60% 60%) 95deg,
        hsl(100deg 60% 60%) 100deg,
        hsl(105deg 60% 60%) 105deg,
        hsl(110deg 60% 60%) 110deg,
        hsl(115deg 60% 60%) 115deg,
        hsl(120deg 60% 60%) 120deg,
        hsl(125deg 60% 60%) 125deg,
        hsl(130deg 60% 60%) 130deg,
        hsl(135deg 60% 60%) 135deg,
        hsl(140deg 60% 60%) 140deg,
        hsl(145deg 60% 60%) 145deg,
        hsl(150deg 60% 60%) 150deg,
        hsl(155deg 60% 60%) 155deg,
        hsl(160deg 60% 60%) 160deg,
        hsl(165deg 60% 60%) 165deg,
        hsl(170deg 60% 60%) 170deg,
        hsl(175deg 60% 60%) 175deg,
        hsl(180deg 60% 60%) 180deg,
        hsl(185deg 60% 60%) 185deg,
        hsl(190deg 60% 60%) 190deg,
        hsl(195deg 60% 60%) 195deg,
        hsl(200deg 60% 60%) 200deg,
        hsl(205deg 60% 60%) 205deg,
        hsl(210deg 60% 60%) 210deg,
        hsl(215deg 60% 60%) 215deg,
        hsl(220deg 60% 60%) 220deg,
        hsl(225deg 60% 60%) 225deg,
        hsl(230deg 60% 60%) 230deg,
        hsl(235deg 60% 60%) 235deg,
        hsl(240deg 60% 60%) 240deg,
        hsl(245deg 60% 60%) 245deg,
        hsl(250deg 60% 60%) 250deg,
        hsl(255deg 60% 60%) 255deg,
        hsl(260deg 60% 60%) 260deg,
        hsl(265deg 60% 60%) 265deg,
        hsl(270deg 60% 60%) 270deg,
        hsl(275deg 60% 60%) 275deg,
        hsl(280deg 60% 60%) 280deg,
        hsl(285deg 60% 60%) 285deg,
        hsl(290deg 60% 60%) 290deg,
        hsl(295deg 60% 60%) 295deg,
        hsl(300deg 60% 60%) 300deg,
        hsl(305deg 60% 60%) 305deg,
        hsl(310deg 60% 60%) 310deg,
        hsl(315deg 60% 60%) 315deg,
        hsl(320deg 60% 60%) 320deg,
        hsl(325deg 60% 60%) 325deg,
        hsl(330deg 60% 60%) 330deg,
        hsl(335deg 60% 60%) 335deg,
        hsl(340deg 60% 60%) 340deg,
        hsl(345deg 60% 60%) 345deg,
        hsl(350deg 60% 60%) 350deg,
        hsl(355deg 60% 60%) 355deg
    );
}

.color-picker::after {
    content: "";
    transition: 300ms;
    background-color: currentColor;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.color-picker.dragging::after {
    opacity: 0.5;
}