nav {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}

nav .settings {
    transition: 500ms;
}
nav .show.settings {
    transform: rotate(0deg);
}
nav .hide.settings {
    transform: rotate(180deg);
}

/* Not really meant to be here */
.controls {
    display: flex;
    justify-content: space-between;
    margin: 1vmin;
}