#settings {
    width: 90vmin;
    margin: 10vmin auto;
}

#settings .field {
    font-size: 4vmin;
    margin-bottom: 2vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
}