html {
	height: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
}

#root {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	color: indianred;
}