html {
	height: 100%;
	font-family: monospace;
}

main {
	font-size: 10vmin;
	text-align: center;
}

/* Disable pull down to refresh on mobile */
html,
body {
	overscroll-behavior: none;
}

* {
	box-sizing: border-box;
	margin: 0;
}

#root {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	overscroll-behavior-y: contain;
}

button {
	cursor: pointer;
}